@{
    ViewBag.Title = "- What Is A Helping Hand? -";
}
<h1 class="aboutTitle">@ViewBag.Title</h1>

<br />
<h2>An application built that utilizes technology to match industry skilled providers with the people seeking their services.</h2>

<h3></h3>
@section head{
    <style type="text/css">
        body {
            background-image: url(/Content/Image/Background8.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
        }

        .aboutTitle {
            color: black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 5em;
            text-align: center;
            padding-top: .5em;
        }

        #contactAdd {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1.5em;
            text-align: center;
        }

        footer {
            font-size: 1.25em;
            font-variant: small-caps;
            font-weight: 900;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    </style>
}